@font-face {
    font-family: "Raleway-500";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-700";
    src: url(../fonts/Raleway-Bold.ttf);
}

body{
    font-family: "Raleway-500";
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    background-color: #F4F6F5;
}
.page-header {
    background-color: #E1EDE6;
}
.main-nav{
    margin: 0 auto;
    width: 1440px;
    display: flex;
    padding: 33px 165px;
    align-items: center;
}
.site-navigation{
    display: flex;
    width: 470px;
    margin-left: auto;
}
.logo{
    display: flex;
    gap: 6px;
    align-items: center;
}
.site-navigation li{
    margin-right: 60px;
}
.site-navigation a:hover{
    color: rgba(89, 141, 102, 1);
    transition: all 500ms ease;
}
.site-navigation li:nth-child(1){
    margin-right: 58px;
}
.site-navigation li:last-child{
    margin-right: 0;
}
.logo p{
    margin-left: 6px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.48px;
    color: rgba(89, 141, 102, 1);
}
.site-navigation a{
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    color: rgba(44, 45, 53, 1);
    text-decoration: none;
}
.main-content{
    margin: 0 auto;
}
.title{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
}
.title-right{
    width: 540px;
    padding-top: 145px;
}
.title-right h1{
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 20px;
}
.title-right h1 span{
    color: #598D66;
}
.title-right p{
    line-height: 27px;
    color: rgba(134, 146, 139, 1);
    display: block;
    margin-bottom: 80px;
}
.title-right a{
    text-decoration: none;
    padding: 20px 60px;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    line-height: 23.48px;
    font-weight: 500;
    border: 1px solid rgba(89, 141, 102, 1);
    transition: all 500ms ease;
}
.title-right a:hover{
    background-color: rgba(89, 141, 102, 1);
    color: rgba(244, 246, 245, 1);
    transition: all 500ms ease;
}
.catalog{
    width: 1110px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.catalog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.catalog-header h2{
    font-size: 40px;
    line-height: 44px;
    color: rgba(44, 45, 53, 1);
}
.catalog-header-list{
    width: 428px;
    display: flex;
    gap: 32px;
}

.catalog-link{
    padding: 10px 20px;
    text-decoration: none;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 23.48px;
    background-color: rgba(212, 232, 217, 1);
    border-radius: 20px;
}
.catalog-link-active{
    color: rgba(244, 246, 245, 1);
    background-color: rgba(55, 107, 68, 1);
}
.catalog-main-list li{
    width: 350px;
    background-color: rgba(225, 237, 230, 1);
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
}
.catalog-main-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.catalog-main-list img{
    margin-bottom: 20px;
}
.catalog-author{
    color: rgba(134, 146, 139, 1);
    line-height: 21.13px;
    margin-bottom: 10px;
}
.catalog-main-list h3{
    color: rgba(44, 45, 53, 1);
    font-size: 30px;
    line-height: 35.22px;
    margin-bottom: 8px;
}
.catalog-about{
    color: rgba(44, 45, 53, 1);
    line-height: 21.13px;
    margin-bottom: 30px;
}
.catalog-price{
    font-size: 24px;
    line-height: 28.18px;
    color: rgba(89, 141, 102, 1);
    margin-bottom: 20px;
}
.catalog-main-list button{
    padding: 20px 60px;
    color: rgba(89, 141, 102, 1);
    background-color: #E1EDE6;
    border: 1px solid #6A9976;
    font-size: 20px;
    line-height: 23.48px;
    transition: all 500ms ease;
}
.catalog-main-list button:hover{
    background-color: rgba(55, 107, 68, 1);
    color: rgba(255, 255, 255, 1);
}
.blog{
    background-image: url(../img/about_background.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 1440px;

}
.blog-main{
    padding-left: 165px;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 1440px;
}
.blog-title{
    display: flex;
    width: 521px;
    gap: 20px;
    margin-bottom: 20px;
}
.blog-title h2{
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    line-height: 40px;
}
.blog-content{
    width: 540px;
    color: rgba(255, 255, 255, 1);
    line-height: 27px;
}
.blog-content a{
    padding: 20px 60px;
    background-color: rgba(238, 219, 109, 1);
    display: block;
    width: 257px;
    text-decoration: none;
    margin-top: 60px;
    color: rgba(44, 45, 53, 1);
    line-height: 23.48px;
}
.blog-content a:hover{
    background-color: rgba(250, 235, 151, 1);
    color: rgba(44, 45, 53, 1);
    transition: all 500ms ease;
}
.about{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}
.about-right{
    padding-top: 124px;
    height: 635px;
}
.about-right h2{
    font-size: 40px;
    line-height: 44px;
    color: rgba(44, 45, 53, 1);
    margin-bottom: 20px;
}
.about-right p{
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}
.about-list{
    display: flex;
    gap: 30px;
}
.background-footer{
    background-color: rgba(225, 237, 230, 1);
}
.socials-items{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
.socials p{
    font-size: 12px;
    line-height: 14.4px;
    color: rgba(134, 146, 139, 1);
}
.footer-container{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 23px 165px;
}
.footer-logo{
    width: 170px;
    margin-right: 115px;
}
.footer-logo div{
    margin-bottom: 35px;
}
.footer-contact {
    font-size: 18px;
    line-height: 21.13px;
    color: rgba(134, 146, 139, 1);
}
.footer-contact a{
    text-decoration: none;
    color: rgba(44, 45, 53, 1);
    font-size: 20px;
    line-height: 23.48px;
    display: block;
    margin-bottom: 8px;
}
.footer-center{
    display: flex;
    gap: 60px;
}
.footer-center a{
    font-size: 18px;
    color: rgba(134, 146, 139, 1);
    line-height: 27px;
    text-decoration: none;
}
.footer-center h2{
    font-size: 20px;
    line-height: 23.48px;
    color: rgba(44, 45, 53, 1);
    font-weight: 500;
}
.footer-center li{
    margin-bottom: 6px;
}
.footer-center li:last-child{
    margin-bottom: 0;
}
.socials{
    width: 132px;
    margin-left: auto;
}
.footer-center a:hover{
    color: rgba(55, 107, 68, 1);
    transition: all 500ms ease;
}
.footer-logo a:hover{
    color: rgba(55, 107, 68, 1);
    transition: all 500ms ease;
}
.ink{
    margin-bottom: 6px;
}