#map {
    width: 100%;
    height: 100vh;
  }

body {
  margin: 0;
}
  /* Стили для списка */
  .marker-list {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    max-height: 500px; /* Задайте желаемую высоту */
    overflow-y: scroll; /* Добавляет вертикальную прокрутку */
    border: 1px solid #ccc; /* Граница для улучшения видимости */
    padding: 10px;
  }

  .marker-list h4 {
    margin: 0;
    font-size: 16px;
  }

  .marker-list ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .marker-list li {
    margin: 5px 0;
    margin-bottom: 8px; /* Отступы между элементами списка */
  }

  .marker-list li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .marker-list__search {
    width: 100%;
    min-width: 340px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
  }
  
  .marker-list__search:focus {
    border-color: #838181;
    outline: none;
  }
